* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 150, 45);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    max-width: 25%;
    max-height: 50px;
    height: auto;
}
.left {
    display: flex;
    min-width: 200px;
    align-items: center;
}
.center {
    flex: 1;
    display: flex;
    justify-content: center;
}
.right {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.menu-icon {
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    margin: 0;
}
.menu-icon:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.search {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 200px;
}
main {
    background-color: white;
}
.barra-lateral {
    background-color: rgb(0, 150, 45);
    left: 0;
    width: 150px;
    height: calc(100vh - 70px);
    position: fixed;
    border-right: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 70px;
}
a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.noticias-principais {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px red solid;
    height: 80vh;
    margin: 50px;
    margin-left: 210px;
    gap: 50px;
    position: relative;
    }

.noticias-principais > div {
    position: relative;
}
.noticias-principais > div a {
    position: absolute;
    inset: 0;
    display: block;
}

#noticia1 {
    background-image: url(assets/img/shai-noticia.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/4;
}
#noticia2 {
    background-image: url(assets/img/verstappen-noticias.webp);
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/2;

}

#noticia3 {
    background-image: url(assets/img/metcalf-noticias.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 2/3;
    
}

#noticia4 {
    background-image: url(assets/img/cristiano-noticias.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 3/4;    
}
h1 {
    font-size:41px;
}
.titulo_n1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

}
.subtitulo_n1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(116, 116, 116);
}
.reporter_n1 {
    display: flex;
    margin-top: 10px;
    margin-left: 634px;
    color: rgb(179, 179, 179);
    font-size: small;
}