* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 70px;
    width: 100%;
    background-color: rgb(0, 150, 45);
    justify-content: space-between;
    align-items: center;
    position: static;
}
body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
main {
    display: inline;
}
footer {
    margin-top: 30px;
    height: 70px;
    width: 100%;
    background-color: rgb(0, 150, 45);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    max-width: 25%;
    max-height: 70px;
    height: auto;
}
.left {
    display: flex;
    min-width: 200px;
    align-items: center;
}
.center {
    flex: 1;
    display: flex;
    justify-content: center;
}
.right {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.menu-icon {
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    margin: 0;
}
.menu-icon:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.search {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 200px;
}
main {
    background-color: white;
}
.barra-lateral {
    background-color: rgb(0, 150, 45);
    left: 0;
    width: 150px;
    height: calc(100vh - 70px);
    position: fixed;
    border-right: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 70px;
}
a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.noticias-principais {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 80vh;
    margin: 50px;
    margin-left: 210px;
    gap: 50px;
    position: relative;
    }

.noticias-principais > div {
    position: relative;
    border-radius: 20px;
}
.noticias-principais > div a {
    position: absolute;
    inset: 0;
    display: block;
}

#noticia1 {
    background-image: url(assets/img/shai-noticia.jpg);
    background-size: cover;
    background-position: top center;
    grid-column: 1/4;
    grid-row: 1/4;
    display: flex;
}
#noticia2 {
    background-image: url(assets/img/verstappen-noticias.webp);
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/2;

}

#noticia3 {
    background-image: url(assets/img/spgame2.webp);
    background-size: cover;
    background-position: top center;
    grid-column: 4/6;
    grid-row: 2/3;
    
}

#noticia4 {
    background-image: url(assets/img/cr7-2.jpg);
    background-size: cover;
    background-position: top center;
    grid-column: 4/6;
    grid-row: 3/4;    
}

h1 {
    font-size:41px;
}

.reporter_n1 {
    color: rgb(179, 179, 179);
    font-family: "Tinos", serif;
    font-weight: 600;
    font-style: italic;
    width: 900px;
    border-bottom: 0.2px solid black;
    margin: 0 auto;        
    text-align: left;
    margin-top: 10px;    
}

.corpo_not1 {
    width: 900px;
    margin: 0 auto;        
    text-align: justify;   
    margin-top: 40px;
    font-family: "Tinos", serif;
    font-weight: 800;
    font-style: normal;
}

.imgn1 {
    border-radius: 10px;
    margin-top: 40px;
    width: 900px;
    height: 350px;
    box-shadow: rgba(0, 150, 45, 0.473) 3px 5px 10px;
    display: block;
    margin-left: auto;     
    margin-right: auto;
}

.tituloimg1 {
    width: 900px;
    color: rgb(179, 179, 179);
    margin: 0 auto;        
    text-align: left;
    margin-top: 10px;
    font-family: "Tinos", serif;
    font-weight: 800;
    font-style: italic;
}

.corponot1_pt2 {
    width: 900px;
    margin: 0 auto;        
    text-align: justify;
    margin-top: 40px;
    font-family: "Tinos", serif;
    font-weight: 800;
    font-style: normal;
}
.displeyint{ 
    gap:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    max-width: 1200px;
}
.time {
    text-align: center;
    margin-top: 40px;
}
.integrantesdiv{ 
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #eee;;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-top: 5px solid rgb(0, 150, 45);
    transition: all 0.3s ease;
}
.integrantesdiv:hover {
    transform: translateY(-5px);
}
.conteudo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.img_integrantes{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.integrantes_h2{
    color: black;
    bottom: 50px;
}
.p_integrantes {
    background-color: rgb(0, 150, 45);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 30px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 125px;
}
p {
    padding: 10px;
}
.links {
    display: flex;
    margin-top: 20px;
    gap: 25px;
}
.links a {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}
.links img {
    height: 20px;
    margin-top: 0;
}

@media (max-width: 768px) {
    .displeyint {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 90%;
    }
    .time {
        width: 80%;
    }

}